@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:'Merriweather', serif;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

li a{
    text-decoration: none;
    display: inline-block;
    color: #696969;
    margin: 0;
    padding: 5px 15px;
    border-radius:30px;  
}

li a:hover{
    background-color: #eff307;
    color: #fff;
}

header{
    background: url(../images/contact.jpg);
    background-size: cover;
    height: 70vh;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
}
header ul li{
    margin: 0 20px;
}
header ul li a{
    color: #fff;
}
/******************************************/
#contact{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

#contact h2{
    margin: 0;
}

#contact svg{ /*SE PONE SVG POR USAR ETIQUETAS I*/ 
    color:  #eff307; 
}
.info{
    display: flex;
    justify-content: center;
}

.info p{
    margin: 50px;
}
#contact a{
    background:#eff307 ;
    color: #000;
    font-style: italic;
    padding: 20px 40px;
    display: inline-block;
    margin-top: 70px;
}