@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:'Merriweather', serif;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

li a{
    text-decoration: none;
    display: inline-block;
    color: #696969;
    margin: 0;
    padding: 5px 15px;
    border-radius:30px;  
}

li a:hover{
    background-color: #000;
    color: #fff;
}

header{
    background: url(../images/fondo.jpg);
    background-size: cover;
    height: 60vh;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
}
header ul li{
    margin: 0 20px;
}
header ul li a{
    color: white;
}


.contenedor-tarjetas{
    display: flex;
    justify-content: center;
}
.tarjeta{
    text-align: center;
    box-shadow: -1px 0px 5px #0000001f;
    width: 28%;
    margin-top: -100px;
    background: #fff;
    padding: 40px 0;
    border-radius: 6px;
}

#segunda-tarjeta{
    margin: 0 60px;
    margin-top: -100px;
}

.tarjeta p{
    font-size: 15px;

}
#tarjetas{
    padding-bottom: 100px;
}
.tarjeta a{
    color: #000;
    text-decoration: underline;
    font-size: px;
}
.tarjeta h3{
    font-style: italic;
}